body {
    padding: 0;
    margin: 0;
}
.wrapper {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: #3a73c9;
}

.white-text {
    font-family: "Futura-Bold";
    color: white;
}

.clock {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    width: 370px;
    height: 370px;
}

#clock-img {
    position: absolute;
}

#hand-img {
    position: absolute;
    width:auto;
}

.letters {
    table-layout: fixed;
    width: 900px;
    height: 100px;
    padding:4px;
    margin: 0 auto;
    background-color: rgb(151, 161, 182);
}

.letters td {
    text-align: center;
    background-color: rgb(39, 70, 164);
    font-size: 65px;
}

.chooser_wrapper {
    margin: 10 auto;
    width: 900x;
    height: 100px;
    background-color: rgb(151, 161, 182);
}

.number_chooser_wrapper {
    margin: 10 auto;
    background-color: rgb(151, 161, 182);
}

.number_chooser_wrapper td {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 30px;
    text-align: center;
    background-color: rgb(39, 70, 164);
}

.chooser_wrapper td {
    padding: 20px;
    font-size: 30px;
    text-align: center;
    background-color: rgb(39, 70, 164);
}

.chooser_wrapper td {
    padding: 20px;
    font-size: 30px;
    text-align: center;
    background-color: rgb(39, 70, 164);
}

.chooser_wrapper button {
    border: none;
    background-color: transparent;
    /* outline:0; */
}

.number-heading {
    font-size: 30px;
    text-align: center;
    background-color: rgb(39, 70, 164);
}